<script src="/js/jwt-decode.min.js" type="text/javascript"></script>
<h1 id="title">{{title}}</h1>
<h2>Login</h2>
<ul>
    <li><a href="{{{gtw_url}}}/auth/v1/authorize?response_type=code&redirect_uri={{{authorization_code_redirect_url}}}&scope=urn%3Aaxa.assistance.travel.countries.read_only%20openid&state=state&client_id={{{client_id}}}" target="_blank">Log in using authorization_code grant</a></li>
    <br>
    <ul>
        <li><b>Authorization Code:&nbsp;</b><span id="code"></span></li>
        <li><b>Access Token:&nbsp;</b><a id="access_token" target="_blank"></a></li>
        <li><b>Refresh Token:&nbsp;</b><a id="refresh_token" target="_blank"></a></li>
    </ul>
</ul>

<h2>Api invocations</h2>
<ul>
    <li><a href="javascript:countries();">GET '/travel/v1/countries'</a></li>
</ul>

<h2>Result</h2>
<ul>
    <li><b>Url:&nbsp;</b><span id="response_url" /></li>
    <li><b>Status code:&nbsp;</b><span id="status_code" /></li>
    <li><b>Output:&nbsp;</b><pre id="api_result" /></li>
</ul>

<script>

    xhr = new XMLHttpRequest();
    xhr.addEventListener("load", display_result);
    xhr.addEventListener("error", display_result);

    function display_result() {
        var elCode = document.getElementById("status_code");
        elCode.innerHTML = this.status;

        var elOut = document.getElementById("api_result");
        elOut.innerHTML = this.responseText;

        var elUrl = document.getElementById("response_url");
        elUrl.innerHTML = this.responseURL;
    }

    function countries() {
        var token = document.getElementById("access_token").token;

        xhr.open("GET", "{{{gtw_url}}}" + '/travel/v1/countries');

        if (token) {
            xhr.setRequestHeader("Authorization", "Bearer " + token);
        }

        xhr.send();
    }


</script>

